
.app {
  display: grid;
  min-height: 100vh;
  overflow: hidden;
  grid-template-areas:
          "h h"
          "n c";

  grid-template-rows:80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:10px;
  background-image: url('../assets/images/background.jpg');
  background-size: 100%;
}

.Path {
   grid-area: c;
}

