.head {
    grid-area: h;
}


.text h1 {
    font-family: Algerian;
    text-align: center;
    margin-top: 20px;
    color:  white;
    font-size: 40px;

}

.Aut {
    margin-left: 15px;
    text-align: left;
    margin-top: -60px;
    color: white;
    font-weight: bold;
}

.button{
    margin-top: 20px;

}

