.root {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    height: 100vh;
    justify-content: center;
    position: fixed;
    & .item {
        color: white;
        margin-left: 20px;
        white-space: nowrap;
        margin-bottom: 20px;
        &:hover {
            text-decoration: none;
            color: #4d8fff;
        }
        &:hover:last-child {
            text-decoration: none;
            color: #e7404e;
        }
    }
    &.item:last-child{
        color:red;
    }
}
